  DEBUG=True
  SECRET_KEY=DJANGO_KEY
  ALLOWED_HOSTS=localhost,127.0.0.1,62.84.120.171,0.0.0.0:8000,foodinstallation.work.gd
  LANGUAGE_CODE=ru-RU
  TIME_ZONE=Europe/Moscow

  # Database settings block
  USE_SQLITE=False
  POSTGRES_DB=foodgram_db
  POSTGRES_DB_HOST=db
  POSTGRES_DB_PORT=5432
  POSTGRES_PASSWORD=foodgram_password
  POSTGRES_USER=foodgram_user

  CSRF_TRUSTED_ORIGINS=foodinstallation.work.gd