# Core Django
Django==4.2.16

# Django REST Framework
djangorestframework==3.15.2

# Authentication
djoser==2.2.2

# Database
psycopg[binary]==3.2.3

# Filtering
django-filter==24.2

# Image processing
Pillow==10.4.0

# WSGI server
gunicorn==23.0.0

# HTTP requests
requests==2.32.3

# Environment variables
python-dotenv==1.0.1

# Additional DRF fields
drf-extra-fields==3.7.0

# Django extensions
django-extensions==3.2.3

editorconfig-checker==2.4.0
isort==5.10.1
flake8==4.0.1
flake8-commas==2.1.0
flake8-docstrings==1.6.0
flake8-multiline-containers==0.0.19
flake8-polyfill==1.0.2
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
pep8-naming==0.13.2